{% extends "base.html" %}
{% block content %}


  <h1>Muokkaa juomaa</h1>

   {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% for drink in attributes %}
  <form method="post" action="{{base_path}}/drink/{{drink.id}}/edit">
{% endfor %}



<div class="form-group">
    <label>Kategoria</label>
    <select class="form-control" name="category">
    {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
    </select>
  </div>

    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Julkaisija</label>
      <input type="text" name="publisher" class="form-control">
    </div>

    <div class="form-group">
      <label>Julkaisupäivä</label>
      <input type="date" name="published" class="form-control">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
  </form>
{% endblock %}