{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän Henri drinkkikirjasto</h1>

  <p>
    <a href="{{base_path}}/drink/new" class="btn btn-success">Lisää drinkki</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for drink in drinks %}
        <tr>
          <td><a href="{{base_path}}/drink/{{drink.id}}">{{drink.name}}</td>
          <td>{{drink.published}}</td>
          <td>{{drink.publisher}}</td>
          <td>
              {% if drink.played %}
                <label class="label label-success">pelattu
              {% else %}
                <label class="label label-danger">kesken
              {% endif %}
          </td>
          <td>{{drink.added}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/drink/{{drink.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}